<h1>Select your information source and keywords</h1>
<form [formGroup]="form" (submit)="search()">
    <select
        formControlName="source"
        name="source"

    >
    <option value="" disabled selected>Select source...</option>
    <option *ngFor="let source of sources; let n = index" [value]="source.id" [attr.id]="'post' + n">{{source.name}}</option>
    </select>
    <input
    formControlName="keyword"
        type="text" name="keyword" required minlength="5" placeholder="Any keywords?"
    >
    <button type="submit">Search</button>
    <button class="float-right" *ngIf="userData" (click)="sourceFavorite()">{{message}}</button>

</form>

<h1>Article List</h1>
<ul id="newsFeed">
  <li *ngFor="let article of articles; let i = index" [attr.id]="'post' + i">
    <img src="{{article.urlToImage}}">
    <div class="newsInfo">
      <h3>{{article.title}}</h3>
      <p>
        {{article.description}}
      </p>
      <p>Source: {{article.source.name}}</p>
      <a href="{{article.url}}">Read full article</a>
      <button class="float-right" *ngIf="userData" (click)="articleFavorite(i)">Add to Bookmark</button>

    </div>
  </li>
</ul>
